.home-grid {
  gap: 20px;
  padding: 10px 0;
  margin: 0;
  display: grid;
    grid-template-columns: repeat(5, 1fr);
}


.home-grid::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.product-card {
  width: 200px;
  border: 1px solid #eee;
  padding: 10px;
  background: #fff;
  transition: box-shadow 0.3s ease;
  
}

.product-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.image-wrap {
  position: relative;
  overflow: hidden;
}

.image-wrap img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.image-wrap:hover img {
  transform: scale(1.08);
}

.quick-view {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  font-size: 12px;
  padding: 6px 12px;
  opacity: 0;
  transition: opacity 0.3s;
}



.product-info {
  text-align: center;
  margin-top: 10px;
}

.product-info h3 {
  font-size: 14px;
  font-weight: 500;
}

.price {
  font-weight: 600;
  margin-top: 4px;
}
