<<<<<<< HEAD
.sidebar {
  width: 260px;
  border-right: 1px solid #eee;
  padding-right: 20px;
}

.sidebar h4 {
  margin: 20px 0 10px;
  font-size: 15px;
}

.sidebar input,
.sidebar select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.price-range {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #666;
  margin-bottom: 15px;
}

.clear-btn {
  width: 100%;
  padding: 10px;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.clear-btn:hover {
  opacity: 0.85;
}
=======
.sidebar {
  width: 260px;
  border-right: 1px solid #eee;
  padding-right: 20px;
}

.sidebar h4 {
  margin: 20px 0 10px;
  font-size: 15px;
}

.sidebar input,
.sidebar select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.price-range {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #666;
  margin-bottom: 15px;
}

.clear-btn {
  width: 100%;
  padding: 10px;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.clear-btn:hover {
  opacity: 0.85;
}
>>>>>>> 2591678f67b9df7a12de2aeaef5945965f7b1f81
